<!-- <div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-base">Lorem ipsum dolor <span highlight>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
  <div>
    <app-wave-audio audioURL="assets/audio.mp3"></app-wave-audio>
  </div>
</div> -->

<div class="container mx-auto mt-8">
  <h2 class="text-3xl font-bold mb-4">Store</h2>
  <p class="text-gray-600 mb-4">Store using angular 17</p>

  <div class="flex items-center mb-4">
    <img
      src="https://avatars.githubusercontent.com/u/24866324?v=4"
      alt="ArielAyala"
      class="w-10 h-10 rounded-full mr-2"
    />
    <p class="text-gray-700">Ariel Ayala</p>
  </div>

  <p class="mb-4">
    This project is maintained by
    <a
      href="https://github.com/ArielAyala/"
      target="_blank"
      class="text-blue-500 hover:underline"
      >Ariel Ayala</a
    >. Feel free to check out the
    <a
      href="https://github.com/ArielAyala/store-angular-17"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
      >GitHub repository</a
    >
    for more details.
  </p>

  <p class="mb-4">
    Connect with the author on
    <a
      href="https://www.linkedin.com/in/ariel-ayala/?locale=en_US"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
    >
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    and
    <a
      href="https://github.com/ArielAyala/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
    >
      <i class="fab fa-github"></i> GitHub </a
    >.
  </p>
</div>
